*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

main.container {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

/* Logo */
.logo img {
  width: 35px;
  user-select: none;
}

/* Utility */
.mb-2 {
  margin-bottom: 30px;
}

/*  ======================================
                HEADER SECTION            
    ======================================  */

header {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

header.navbar {
  position: sticky;
  top: 0;
  left: 0;
  max-width: 100%;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
  padding: 5px 0px;
}

/* Mobile Nav */
.mobile-menu {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.mobile-links {
  text-decoration: none;
  display: flex;
  padding: 0px 16px;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0);
}

.mobile-links span {
  width: 0;
  overflow: hidden;
}

.mobile-menu li {
  display: block;
  align-items: center;
  text-align: center;
}

.mobile-links:focus {
  text-decoration: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.2s;
}

.mobile-links:focus span {
  width: 100%;
  margin-left: 8px;
  transition: 0.2s;
}

*:focus {
  outline: none;
  border: none;
}

nav.navbar-mobile {
  position: sticky;
  font-size: 19px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 500;
  background-color: #298fc5;
}

.mobile-links .fa {
  margin-right: 5px;
}

/*  ============================================
                    MAIN SECTION                
    ============================================  */
span.creator-title {
  font-size: 18px;
  font-weight: 500;
  padding: 3px 10px;
  color: #fff;
  background-color: #298fc5;
  border-radius: 0px 10px 10px 0px;
}

span.creator-title-desktop {
  justify-content: space-around;
  font-size: 18px;
  font-weight: 500;
  padding: 3px 10px;
  color: #fff;
  background-color: #298fc5;
  border-radius: 0px 10px 10px 0px;
}

article.creator-detail {
  display: block;
  padding-top: 10px;
  text-align: center;
}

article.creator-status {
  width: 100%;
}

.content {
  flex: 2;
  padding-left: 45px;
}

.general-profile {
  flex: 1;
  padding-right: 45px;
}

.creator-img {
  max-width: 100%;
}

.creator-img img {
  border-radius: 100%;
  width: 80%;
  height: 80%;
  object-fit: cover;
  border: 1px solid #3ca0f1;
  border-width: 5px;
  padding: 3px;
}

.status {
  letter-spacing: 2px;
  padding: 3px 10px;
  border-radius: 10px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
}

.status-red {
  color: #ffffff;
  background-color: #d81313;
}

.status-green {
  color: #fff;
  background-color: #2aa711;
}

.status-blue {
  color: #fff;
  background-color: #298fc5;
}

.status-orange {
  color: #333;
  background-color: #d8d513;
}

.status-nila {
  color: #ffffff;
  background-color: #9d13d8;
}

table {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  border-radius: 10px;
  border: 1px solid #3333333b;
  padding: 0px 5px 5px 5px;
  width: 100%;
}

/* Social Media */
aside.socmed-column {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
  top: 30%;
  right: 10%;
}

.social-media {
  list-style-type: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.social-media li {
  box-shadow: rgba(0, 0, 0, 0.5);
}

.social-media li a i {
  background-color: #298fc5;
  color: #ffffff;
  padding: 12px;
  border-radius: 10%;
  width: 100%;
  margin: 5px 0 5px 0;
}

.social-media li a i:hover {
  background-color: #bdbdbd;
}

.vl {
  border-left: 2px solid #298fc5;
  border-radius: 5px;
  text-align: center;
  left: 50%;
  height: 30px;
}

/*  ======================================
                FOOTER SECTION            
    ======================================  */
footer {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 25px;
  background-color: #333;
  color: #ddd;
}

/*  =========================================
                RESPONSIVE SECTION                        
    =========================================  */
@media only screen and (max-width: 768px) {
  header {
    background-color: rgba(255, 255, 255, 0.664);
    backdrop-filter: blur(10px);
  }

  nav.navbar-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  main.container {
    display: block;
    margin: auto;
    width: 100%;
    padding: 0px 10px;
  }

  .social-media {
    display: none;
  }

  .general-profile {
    padding: 10px;
  }

  .content {
    height: fit-content;
    width: 100%;
    padding: 10px;
  }

  span.creator-title-desktop {
    display: none;
  }

  .creator {
    display: block;
    padding: 10px;
  }

  .creator-img img {
    width: 50%;
    height: 50%;
  }

  .card-title {
    font-size: 18px;
  }

  footer {
    margin-top: 58px;
    position: relative;
    bottom: 58px;
    background: #333;
    color: #fff;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    width: 50%;
    padding: 2rem 4rem;
    margin-inline: auto;
  }
  header.navbar {
    font-size: 19px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 500;
  }

  .logo img {
    width: 55px;
    user-select: none;
  }

  nav.navbar-mobile {
    display: none;
  }

  span.creator-title {
    display: none;
  }
}
