*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.container {
  display: block;
  width: 50%;
  padding: 2rem;
  margin-inline: 0 auto;
}

.content {
  flex: 3;
  width: 80%;
}

/* Logo */
.logo img {
  width: 35px;
  user-select: none;
}

/*  ======================================
                HEADER SECTION            
    ======================================  */

header {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

header.navbar {
  position: sticky;
  top: 0;
  left: 0;
  max-width: 100%;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
  padding: 5px 0px;
}

/* Mobile Nav */
.mobile-menu {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.mobile-links {
  text-decoration: none;
  display: flex;
  padding: 0px 16px;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0);
}

.mobile-links span {
  width: 0;
  overflow: hidden;
}

.mobile-menu li {
  display: block;
  align-items: center;
  text-align: center;
}

.mobile-links:focus {
  text-decoration: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.2s;
}

.mobile-links:focus span {
  width: 100%;
  margin-left: 8px;
  transition: 0.2s;
}

*:focus {
  outline: none;
  border: none;
}

nav.navbar-mobile {
  position: sticky;
  font-size: 19px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 500;
  background-color: #298fc5;
}

.mobile-links .fa {
  margin-right: 5px;
}

/*  ============================================
                    MAIN SECTION                
    ============================================  */
span.creator-title {
  font-size: 18px;
  font-weight: 500;
  padding: 3px 10px;
  color: #fff;
  background-color: #298fc5;
  border-radius: 0px 10px 10px 0px;
}

.creator-detail {
  margin-top: 26px;
  display: block;
  text-align: center;
}

.status {
  letter-spacing: 2px;
  padding: 3px 10px;
  border-radius: 10px;
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  margin-top: 10px;
}

.status-green {
  color: #fff;
  background-color: #2aa711;
}

.status-orange {
  color: #333;
  background-color: #d8d513;
}

.status-red {
  color: #ffffff;
  background-color: #d81313;
}

table {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  border-radius: 10px;
  border: 1px solid #3333333b;
  padding: 0px 5px 5px 5px;
  width: 100%;
}

/*  ======================================
                FOOTER SECTION            
    ======================================  */
footer {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 25px;
  background-color: #333;
  color: #ddd;
}

/*  =========================================
                RESPONSIVE SECTION                        
    =========================================  */
@media only screen and (max-width: 768px) {
  header {
    background-color: rgba(255, 255, 255, 0.664);
    backdrop-filter: blur(10px);
  }

  nav.navbar-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .container {
    display: block;
    width: 100%;
    padding: 0px 10px;
  }

  .content {
    height: fit-content;
    width: 100%;
    padding: 10px;
  }

  .creator {
    display: block;
    padding: 10px;
  }

  .card-title {
    font-size: 18px;
  }

  footer {
    margin-top: 58px;
    position: relative;
    bottom: 58px;
    background: #333;
    color: #fff;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    width: 80%;
    padding: 2rem 4rem;
    margin-inline: auto;
  }
  header.navbar {
    font-size: 19px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 500;
  }

  .logo img {
    width: 55px;
    user-select: none;
  }

  nav.navbar-mobile {
    display: none;
  }
}
